:root {
  --primary-color: rgba(40, 202, 247, 0.494);
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-image: url("/img/background4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-radius: 10px;
  box-shadow: rgba(40, 202, 247, 0.2) 0px 19px 38px,
    rgba(40, 202, 247, 0.1) 0px 15px 12px;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: white;
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress-div {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.progress {
  width: 70%;
  -webkit-appearance: none;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: all 1s ease;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  width: 20px;
  height: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 400px;
  padding: 12px;
  /* height: 38vh;
  overflow-y: scroll; */
  transition: all 1s ease;
}

#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

#style-7::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(76, 118, 202, 0.639)),
    color-stop(0.86, rgba(80, 106, 187, 0.648)),
    color-stop(0.86, rgba(80, 106, 187, 0.648))
  );
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song:hover {
  cursor: pointer;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: white;
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
}

.btn i:hover {
  color: rgba(255,255,255, 0.5);
}

@media only screen and (max-width: 720px) {
  body {
    background-image: url("img/background5.jpg");
  }
}
